@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;500;600;700&display=swap');


#ware-wrap {
	font-family: "Almarai", sans-serif;
}


.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
	font-family: "Almarai", sans-serif;
}
#wpcontent {
	padding-right: 0;
	font-family: "Almarai", sans-serif;
  }
  #wpbody-content {
	font-family: "Almarai", sans-serif;
  }


#wpbody
{
	font-family: "Almarai", sans-serif;
}
#login_url_redirection {
	text-align: left !important;
	direction: ltr !important;
  }
  #register_url_redirection {
	text-align: left !important;
	direction: ltr !important;
  }